annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.4.0
click==8.1.7
fastapi==0.115.2
h11==0.14.0
idna==3.7
joblib==1.4.2
numpy==1.26.4
pandas==2.2.3
pydantic==2.8.2
pydantic_core==2.20.1
python-dateutil==2.9.0.post0
pytz==2024.1
scikit-learn==1.5.2
scipy==1.13.1
six==1.16.0
starlette==0.37.2
threadpoolctl==3.5.0
typing-inspection==0.3.0
typing_extensions==4.12.2
tzdata==2024.1
uvicorn==0.30.1
